<!DOCTYPE html>
<html lang="en">
<head>

<title>Transport oqimi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Transport oqimi bashoratchisi</h1>
  <p>Bu LSTM va GRU modellari asosida o'rganilayotgan yo'l sohasidagi transport oqimini bashoratlash dasturiy vositasi(demo versiya).
      </br>
      Dastur 'source code' githubga yuklab qo'yilgan <a href="https://github.com/BahodirMarupov/traffic-forecast" target="_blank">github</a></p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 style="text-align:center">LSTM modeli asosida bir kunlik transport oqimi grafigi</h4>
	  <img src="{{url_for('static', filename='LSTM_oneDay.png')}}" class="img-thumbnail"> 
    </div>
    <div class="col-sm-6">
      <h4 style="text-align:center">GRU modeli asosida bir kunlik transport oqimi grafigi</h4>
	  <img src="{{url_for('static', filename='GRU_oneDay.png')}}" class="img-thumbnail"> 
    </div>
  </div>
  <br>
  <div class="row">
     <div class="col-sm-6">
        <h4 style="text-align:center">LSTM va GRU modellari asosidagi grafiklar birgalikda</h4>
		<img src="{{url_for('static', filename='models_oneDay.png')}}"class="img-thumbnail"> 
    </div>
 </div>
 <br>
 <div class="row">
    <div class="col-sm-6">
      <h5 style="text-align:center">Modellarni tekshirish.<p style="color:red;"> Mavjud dataset 4-3-2020 dan 11-3-2020 gacha</p></h5><br>
	  <form action="{{ url_for('main') }}" method="POST" class="needs-validation" novalidate>
		<div class="form-group">
			<label>Sana:</label>
			<input type="text" class="form-control"  placeholder="dd/m/yyyy" name="date" required>
			<div class="invalid-feedback">Maydonni to'ldiring</div>
		</div>
		<div class="form-group">
			<label>Vaqt:</label>
			<input type="text" class="form-control"  placeholder="hh:mm" name="time" required>
			<div class="invalid-feedback">Maydonni to'ldiring</div>
		</div>
		<button type="submit" class="btn btn-outline-secondary">Bashoratlash</button><br>

	  </form><br>	  
    </div><br>
    <div class="col-sm-6">
		<div class="result" align="center">
		{% if true_val %}
		True number<p style="font-size:40px">{{ true_val }}</p>
		LSTM Predicted Number<p style="font-size:40px;color:green;">{{ pred_val_LSTM }}</p>
		GRU Predicted Number<p style="font-size:40px;color:green;">{{ pred_val_GRU}}</p>
		{% endif %}
		</div>  
	</div><br>

 </div>
</div>
</body>
</html>
